Flask
werkzeug
itsdangerous==2.2.0
markupsafe
jinja2
gunicorn
pytest
pytest-cov
flake8
Click
importlib-metadata
redis
celery
Flask-WTF
WTForms-Components
WTForms
WTForms-Alchemy
SQLAlchemy
flask-debugtoolbar
Flask-Mail
psycopg2-binary
Flask-SQLAlchemy
Flask-Login
pytz
# fake-factory
Faker
mock
stripe
pandas